html,
body {
    height: 100vh;
    max-height: 100vh;
}

body {
	color: white;
	text-align: center;
	background-image: url('background_sm.jpg');
  background-size: cover;
  font-family: 'Love Ya Like A Sister', cursive;
  min-height: 100vh;
  font-size: 1.5em;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: #333;
	opacity: .5;
	z-index: -1;
}


.container  {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container > div {
  width: 50%;
  margin: 20px;
  text-align: center;
}

@media (min-width: 600px) {
  body {
    background-image: url('background.jpg');
  }

  .hr {
    position: absolute;
    width: 3px;
    background: white;
    z-index: 10;
  }

  .left {
    -moz-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
      transform: rotate(35deg);
  }

  .right {
      -moz-transform: rotate(145deg);
      -o-transform: rotate(145deg);
      -webkit-transform: rotate(145deg);
      -ms-transform: rotate(145deg);
      transform: rotate(145deg);
  }

  .top {
    top: 60px;
    height: 50px;
  }

  .left-top {
    left: 47%;
  }

  .right-top {
    right: 47%;
  }

  .left-bottom {
    height: 50px;
    left: 28%;
    bottom: 90px;
  }

  .right-bottom {
    height: 50px;
    right: 28%;
    bottom: 90px;
  }

  .bottom {
    height: 3px;
    width: 80px;
    bottom: 110px;
  }

  .bottom-left {
    left: 25%;
  }

  .bottom-right {
    right: 25%;
  }
}
